<!doctype html>
<html lang="en">


<head>
    <title>
        book store
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/updatebook.css">

</head>

<body>

    <body>
        <!-- main -->
        <div class="main-w3layouts wrapper">
            <h1>Update Book</h1>
            <div class="main-agileinfo">
                <div class="agileits-top">
                    <form action="/updatebook/<%=Book._id%>" method="post" enctype="multipart/form-data">
                        <input class="text" type="text" name="title" placeholder="title" required="" maxlength="33" value=' <%=Book.title%>'>
                        <input class="text" type="text" name="author" placeholder="author" required="" maxlength="23" value='<%=Book.author%>'>
                        <input class="text" type="number" name="price" placeholder="price" required="" maxlength="23" value='<%=Book.price%>'>
                        <input class="text" type="text" name="publisher" placeholder="publisher" required="" maxlength="33" value='<%=Book.publisher%>'><br>



                        <br><br>


                        <label for="img">Book Image : </label>
                        <input type="file" id="bookimg" name="bookimage" accept="image/*">
                        <br><br>

                        <br>

                        <div class="wthree-text">
                            <label class="anim">
							<input type="checkbox" class="checkbox" name ="check" required="">
							<span>I Agree To The Terms & Conditions</span>
						</label>
                            <div class="clear"> </div>
                        </div>
                        <input type="submit" value="Update">
                    </form>

                </div>
            </div>

            <ul class="colorlib-bubbles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>



    </body>

</html>

</html>